.hero {
  display: flex;
  align-items: space-between;

  .categories-bar {
    font-size: 14px;
    color: $text-tertary;
    min-width: 200px;

    ul {
      padding: 8px 16px;
      margin-bottom: 0;

      li {
        padding: 8px 0;
        display: flex;

        .icon {
          font-size: 14px;
        }
      }
    }

  }
}

@media (max-width: 991px) {
  .categories-bar {
    display: none;
  }

  .hero.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}