.hero {
  display: flex;
  align-items: space-between;

  .categories-bar {
    font-size: 14px;
    color: $text-tertary;
    min-width: 200px;

    ul {
      padding: 8px 0px;
      margin-bottom: 0;

      li {
        padding: 8px 16px;
        display: flex;

        &:hover {
          background-color: $primary;

          a {
            color: white;
          }
        }

        a {
          color: $text-tertary;



        }
      }
    }

  }
}

@media (max-width: 991px) {
  .categories-bar {
    display: none;
  }

  .hero.container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}