nav {
    z-index: 5;

}

.navbar-brand {
    img {
        filter: brightness(0) invert(1);
    }
}

.dropdown-menu {
    svg {
        height: 12px;
        margin-left: 8px;
        color: inherit;
    }
}

.search {
    width: 90%;
    margin-left: 50px;

    .form-group {
        width: 90%;

        // .input-group {
        //     width: 100%;
        // }
    }
}

.headroom--unpinned {
    width: 100%;
}

.headroom--pinned {
    z-index: 5 !important;
}


@media (min-width: 992px) {
    .desktop {
        display: block;
        // margin-left: 50px;
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 991px) {
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;

        .form-group {
            width: 100%;
        }
    }
}

.nav-item.dropdown {
    a {
        display: flex;

        svg {
            margin-top: 4px;
        }
    }
}