.card {
    overflow: hidden;
    margin-top: 16px;

    .card-body {
        padding: 0;

        .product-details {
            padding: 16px;

            h6 {
                margin-bottom: 0;

            }

            .price-tag {
                margin-top: 8px;
                font-size: 24px;
                color: $primary;
            }

            a {
                margin-top: 8px;
            }
        }
    }

    img {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

.card-lift--hover:hover {
    transform: translateY(-2px) !important;
}