$primary: #7b4fa5;
$color-secondary : #da2fed;
$color-tertary: #f4f5f7;
$color-info : #11cdef;
$color-success : #2dce89;
$color-warning : #fb6340;
$color-danger : #f5365c;
$text-primary : #181818;
$text-secondary : #383838;
$text-tertary : #585858;